@import "tailwindcss";

@theme inline {
  /* Cores do AquaSense */
  --color-primary: #0184ff;
  --color-primary-dark: #003da5;
  --color-gray-light: #f2f2f2;
  --color-gray-dark: #26272b;
  --color-gray-text: #737373;
  --color-link: #3366cc;
  --color-danger: #DBAB4A;
  --color-error: #D9534F;
  
  /* Fontes */
  --font-outfit: "Outfit", sans-serif;
}

body {
  font-family: var(--font-outfit);
}
